:root {
    --primaryDark: #002884;
    --primaryLight: #757ce8;
    --primaryMain: #3f50b5;
    --scrollbarBG: #6472b1;
    --thumbBG: #90A4AE;
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    position: relative;
}

.button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.nav-btn:hover, .name:hover {
    color: var(--primaryMain);
    cursor: pointer;
}

.nav-btn::selection, .name::selection {
    color: none;
    background: none;
}

.arrow {
    width: 1rem; height: 1rem;
}

.intro-img {
    width: 1.5rem; height: 1.5rem; margin-right: 8px;
}

@media all and (max-width: 700px) {
    .intro-img {
        width: 1rem; height: 1rem; margin-right: 8px;
    }
}

.arrow.flip {
    transform: scaleX(-1);
}

.grid-container {
    display: grid;
} 
.grid-auto-fit {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.list-item {
    font-size: 3rem;
}

.intro-img-container {
    display: flex;
    align-items: center;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
